@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}
.App {
  margin: 0 auto;
}
body {
  font-family: "Montserrat", sans-serif;
}
.container-pomodoro {
  background: #db524d;
  transition: 0.5s ease-in-out 0s;
}
.container-shortbreak {
  background: #468e91;
  transition: 0.5s ease-in-out 0s;
}
.container-longbreak {
  background: #437ea8;
  transition: 0.5s ease-in-out 0s;
}
.container-pomodoro .start-color {
  color: #db524d;
}
.container-shortbreak .start-color {
  color: #468e91;
}
.container-longbreak .start-color {
  color: #437ea8;
}
button {
  background: none;
}
